ament_copyright==0.12.14
ament_flake8==0.12.14
ament_pep257==0.12.14
cv_bridge==3.2.1
edge_tts==7.2.8
gTTS==2.5.4
numpy==1.21.5
ollama==0.6.1
opencv_python==4.11.0.86
opencv_python_headless==4.5.5.64
pygame==2.6.1
pytest==6.2.5
rclpy==3.3.19
sensor_msgs==4.9.0
setuptools==59.6.0
std_msgs==4.9.0
torch==2.3.1
ultralytics==8.4.21
